@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Configuração de reset de margens e preenchimento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cor de Fundo */
body {
    background: #128EEB;
}

/* Imagem da tripulação - config de tamanho */
.body-img {
    max-width: 100%; /* 962px */
    height: auto; /* 541.13px */
}

/* Caixa de cabeçalho - tamanho - cor - posição */
header {
    width: 1088px;
    height: 93.61px;
    flex-shrink: 0;
    background: rgba(114, 114, 114, 0.10);
    backdrop-filter: blur(7.5px);
    position: absolute;
    top: 0px;
    left: 128px;
    z-index: 2;
}

/* Logo - tamanho - posição */
.header-img {
    width: 180px;
    height: auto; /* 61.61px */
    margin-top: 16px;
    margin-left: 32px;
}

/* Card de cadastro - tamanho - posição - cor */
.card-cadastro {
    width: 315px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 15px;
    background: rgba(30, 30, 30, 0.50);
    backdrop-filter: blur(7.5px);
    box-shadow: 10px 4px 10px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 140px;
    left: 128px;
    z-index: 2;
}


/* Editar informações do card */
.textfield {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.titles {
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
}

input {
    width: 230px;
    height: 45px;
    border: none;
    border-radius: 10px;
    margin-bottom: 16px;
}

.btn-card {
    width: 230px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background: #FC0;
    box-shadow: 10px 4px 10px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 32px;
}

::placeholder {
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 8px;
}


/* Caixa biografia Shanks */
.box-bio {
    width: 1088px;
    height: 286px;
    flex-shrink: 0;
    background: #727272;
    margin-top: 72px;
    margin-left: 128px;
    position: relative;
}

/* Titulo da bio do shanks */
#title-bio {
    color: #B4463B;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    padding-left: 32px;
    padding-top: 24px;
    margin-bottom: 16px;
}

/* Texto da bio */
.body-text {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 32px;
}

/* Config da imagem */
.bio-shanks-img {
    width: 460px;
    height: auto;
    position: absolute;
    top: -120px;
    right: 20px;
}

/* Config bio 3 personagens */
.personagens-bio {
    display: flex;
    margin-top: 128px;
}

/* Criando as 3 box */
.zoro-bio {
    width: 349.33px;
    height: 597px;
    flex-shrink: 0;
    background: #1E1E1E;
    margin-left: 128px;
    margin-right: 20px;

    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.luffy-bio {
    width: 349.33px;
    height: 597px;
    flex-shrink: 0;
    background: #727272;
    margin-right: 20px;

    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sanji-bio {
    width: 349.33px;
    height: 597px;
    flex-shrink: 0;
    background: #1E1E1E;

    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-bio-3 {
    max-width: 100%;
    max-height: 100%;
    margin-top: -80px;
    z-index: 1;
}

.titles-bio-3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;

    margin: 0;
    margin-bottom: 144px;
    margin-top: 24px;
}

/* Config Slider-bar */
.slider-conteiner {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin-top: 32px;
}

#title-slider {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.img-slider-bar {
    width: 1088px;
    margin-left: 128px;
}

#btn-esq,
#btn-dir {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#btn-esq {
    left: 128px;
}
  
#btn-dir {
    right: 128px;
}

.btn-download {
    width: 230px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background: #FC0;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;

    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    margin-top: 32px;
    align-self: center;
}   