@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Configuração de reset de margens e preenchimento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cor de Fundo */
body {
    background: #128EEB;
}

/* Imagem da tripulação - config de tamanho */
.body-img {
    max-width: 100%; /* 962px */
    height: auto; /* 541.13px */
}

/* Caixa de cabeçalho - tamanho - cor - posição */
header {
    width: 1088px;
    height: 93.61px;
    flex-shrink: 0;
    background: rgba(114, 114, 114, 0.10);
    backdrop-filter: blur(7.5px);
    position: absolute;
    top: 0px;
    left: 128px;
    z-index: 2;
}

/* Logo - tamanho - posição */
.header-img {
    width: 180px;
    height: auto; /* 61.61px */
    margin-top: 16px;
    margin-left: 32px;
}

/* Card de cadastro - tamanho - posição - cor */
.card-cadastro {
    width: 315px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 15px;
    background: rgba(30, 30, 30, 0.50);
    backdrop-filter: blur(7.5px);
    box-shadow: 10px 4px 10px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 140px;
    left: 128px;
    z-index: 2;
}


/* Editar informações do card */
.textfield {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.titles {
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
}

input {
    width: 230px;
    height: 45px;
    border: none;
    border-radius: 10px;
    margin-bottom: 16px;
}

.btn-card {
    width: 230px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background: #FC0;
    box-shadow: 10px 4px 10px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 32px;
}

::placeholder {
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 8px;
}


/* Caixa biografia Shanks */
.box-bio {
    width: 1088px;
    height: 286px;
    flex-shrink: 0;
    background: #727272;
    margin-top: 72px;
    margin-left: 128px;
    position: relative;
}

/* Titulo da bio do shanks */
#title-bio {
    color: #B4463B;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    padding-left: 32px;
    padding-top: 24px;
    margin-bottom: 16px;
}

/* Texto da bio */
.body-text {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 32px;
}

/* Config da imagem */
.bio-shanks-img {
    width: 460px;
    height: auto;
    position: absolute;
    top: -120px;
    right: 20px;
}

/* Config bio 3 personagens */
.personagens-bio {
    display: flex;
    margin-top: 128px;
}

/* Criando as 3 box */
.zoro-bio {
    width: 349.33px;
    height: 597px;
    flex-shrink: 0;
    background: #1E1E1E;
    margin-left: 128px;
    margin-right: 20px;

    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.luffy-bio {
    width: 349.33px;
    height: 597px;
    flex-shrink: 0;
    background: #727272;
    margin-right: 20px;

    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sanji-bio {
    width: 349.33px;
    height: 597px;
    flex-shrink: 0;
    background: #1E1E1E;

    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-bio-3 {
    max-width: 100%;
    max-height: 100%;
    margin-top: -80px;
    z-index: 1;
}

.titles-bio-3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;

    margin: 0;
    margin-bottom: 144px;
    margin-top: 24px;
}

/* Config Slider-bar */
.slider-conteiner {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin-top: 32px;
}

#title-slider {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.img-slider-bar {
    width: 1088px;
    margin-left: 128px;
}

#btn-esq,
#btn-dir {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#btn-esq {
    left: 128px;
}
  
#btn-dir {
    right: 128px;
}

.btn-download {
    width: 230px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background: #FC0;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;

    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    margin-top: 32px;
    align-self: center;
}

/* Config quiz tela inicial */
.interface-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
}

.quiz-titles {
    margin-bottom: 32px;
}

#title-quiz-01 {
    margin-bottom: -10px;
}

.img-quiz {
    width: 400px;
    align-self: center;
    margin-bottom: 32px;
}

.btn-quiz {
    width: 230px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background: #FC0;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;

    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 64px;
    align-self: center;
}

/* Tela do quiz após clicar em começar */
.quiz {
    width: 1088px;
    height: 550px;
    border-radius: 15px;
    background: #031088;

    margin-left: 128px;
    margin-bottom: 64px;
    margin-top: 64px;
    padding-top: 32px;
}

.quiz-mar {
    width: 1024px;
    height: 486px;
    border-radius: 15px;
    border: 10px solid #FC0;
    background: rgba(3, 16, 136, 0.00);

    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 32px;
}

.logo-quiz {
    width: 200px;
    position: absolute;
    right: 32px;
    bottom: 32px;
}

#quiz-result-box {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.logo-quiz-result {
    width: 200px;
    position: absolute;
    top: 32px;
}

#marcador-pergunta {
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFF;

    position: absolute;
    top: 16px;
    left: 16px;

}

#pergunta-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 72px;
}

#pergunta {
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    margin-left: 16px;
    margin-top: 64px;
    margin-bottom: 16px;
}

#opcoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    grid-template-rows: repeat(2, auto); /* Duas linhas */
    gap: 10px; /* Espaçamento entre as opções */
}

.opcao {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: #FC0;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;

    /* Alinhar texto das opcoes no centro da box */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Config tela resultado */
.quiz-result-box {
    display: flex;
}

.titles-result {
    margin-top: 48px;
}

#mensage {
    margin-bottom: -20px;
}


#pontuacao {
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFF;
    position: absolute;
    text-align: center;
    bottom: 120px;

    width: 230px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background: #14FF00;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;

    display: flex;
    align-items: center;
    justify-content: center;
}

#refazer-botao {
    position: absolute;
    bottom: -10px;
}





.footer {
    background-image: url('anexos/imgPrincipal-OP.jpg');
    background-size: cover; /* Faz a imagem cobrir todo o elemento */
    background-position: 50% 30%; /* Alinha a imagem no centro horizontal e no rodapé vertical */
    height: 200px; /* Defina a altura desejada para o rodapé */
    text-align: center; /* Alinhe o conteúdo no centro se necessário */
    color: #fff; /* Cor do texto no rodapé */
}